@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;700&family=Poppins:wght@200;400;700&family=Yantramanav:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.container {
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.apresentacao__conteudo__texto {
    margin-top: 1rem;
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.botoes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.link {
    background-color: #22D4FD;
    padding: 1rem 5rem;
    border-radius: 10px;
    font-family: "Montserrat", serif;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}

.container__imagem {
    display: flex;
    justify-content: center;
}


.imagem {
    align-self: center;
    width: 600px;  
}

.apresentacao__links {
    font-size: 2rem;
    margin-top: 2rem;
    font-family: "Krona One", serif;
}